<form method="POST" action="/articles">
  <label>Title: </label>
  <input id="title" type="text" name="title">
  <br>
  <label>Content: </label>
  <input id="content" type="text" name="content">
  <br>
  <input id="submit" type="submit">
</form>