<h5><%= @article.title %></h5>
<p><%= @article.content %></h5>
<form method="POST" action="/articles/<%= @article.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>